* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-color: rgba(255, 106, 149, 0.1);
}

.container {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

.aba {
    padding: 30px;
    background-color: #FFF;
    box-shadow: 0px 16px 45px -15px rgba(2, 5, 132, 0.25);
    border-radius: 10px;
}

.follow {
    width: 585px;  
    margin: 260px auto 0;  
}

.primeira-linha {
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;    
}

.perfil {
    display: flex;
    justify-content: center;
    align-items: center;
}

.perfil img {
    margin-right: 30px;
    width: 85px;
    border-radius: 50%;    
    background-color: #FFF;
    border: 8px solid #EFEFFF;
    box-shadow: 0px 8px 22.5px -7.5px rgba(2, 5, 132, 0.2);
}

.perfil h1 {
    margin-bottom: 10px;
    font-family: 'Merriweather', serif;
    font-weight: 900;
    font-size: 22px;
    line-height: 28px;
    color: #202142;
}

.perfil span {
    font-size: 16px;
    line-height: 24px;
    color: #202142;
}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    border-radius: 10px;
    cursor: pointer;
}

.btn img {
    width: 25px;
    margin-right: 10px;
}

.btn-follow {
    background-color: #202142;
    transition: all 0.2s;
}

.btn-follow:hover {
    opacity: 0.8;
}

.btn-follow a {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFF;
}

.segunda-linha {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;    
}

.segunda-linha img {
    width: 165px;
    border-radius: 10px;    
}

.followed {
    width: 1170px;
    margin: 50px auto 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.btn-followed {
    margin-top: 5px;
    margin-left: 130px;
    background-color: #FFF;
    border: 1px solid #A4A4CB;
    border-radius: 10px;
    transition: all 0.2s;
}

.btn-followed a {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #202142;
}

.btn-followed:hover {
    background-color: #ccc;
}

.segunda-coluna {
    width: 690px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.segunda-coluna img {
    width: 215px;
}
