* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-color: #F2F2F2;
}

.container {
    margin: 170px auto 0;
    display: flex;
    font-family: 'Lexend Deca', sans-serif;
}

.card {
    padding: 50px 0 50px 50px;
    border-radius: 8px;
}

.sedans {
    background: #E28625;
}

.suvs {
    background: #006971;
}

.luxury {
    background: #004140;
}

.card img {
    margin-bottom: 35px;
}

.card h2 {
    margin-bottom: 25px;
    font-family: 'Big Shoulders Display', cursive;
    font-size: 40px;
    line-height: 48px;
    text-transform: uppercase;
    color: #F2F2F2;
}

.card p {
    margin-bottom: 80px;
    font-size: 15px;
    line-height: 25px;
    color: #FFF;
    opacity: 0.75;
}

.card a {
    padding: 10px 30px;
    background-color: #F2F2F2;
    border-radius: 25px;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    line-height: 25px;
    transition: all 0.2s;
}

.card a:hover{
    color: #F2F2F2;
}

.sedans a {
    color: #E28625;
}

.sedans a:hover {
    background-color: #e07400;
}

.suvs a {
    color: #006971;
}

.suvs a:hover {
    background-color: #004c52;
}

.luxury a {
    color: #004140;
}

.luxury a:hover {
    background-color: #002b2a;
}
