* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-color: #DADDE1;
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-size: 22px;
    line-height: 26px;
    color: #000000;
}

.perfil {
    width: 65px;
    border-radius: 50%;
}

.nearby-friends { 
    width: 660px;
    margin: 50px auto 0;
    padding: 50px;
    background-color: #FFFFFF;
    box-shadow: 0px 24px 74px -20px rgba(130, 148, 173, 0.44);
    border-radius: 10px;
}

.cabecalho-friends {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho-friends a {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #000000;
}

.friends {
    display: flex;
}

.friend {
    margin-right: 10px;
    padding: 25px 0 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #E5E5E5;
    border-radius: 10px;
}

.friend .perfil {
    margin: 0 35px 15px;
}

.friend h3 {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #000;
}

.add {
    background-color: #000;
    border: 1px solid #000;
    border-radius: 50%;
    cursor: pointer;
}

.contacts {
    width: 450px;
    margin: 70px auto 0;
    margin-top: 70px;
    padding: 50px;
    background: #FFF;
    box-shadow: 0px 24px 74px -20px rgba(130, 148, 173, 0.44);
    border-radius: 15px;
}

.cabecalho-contacts {    
    margin-bottom: 60px;
    display: flex;
    align-items: center;
}

.cabecalho-contacts span {
    margin-left: 15px;
    padding: 6px 6px 7px;
    border: 1px solid #000;
    border-radius: 25px;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: #040405;
}

.contact {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.contact .perfil {
    margin-right: 20px;
}

.contact-info h4 {
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}

.contact-info span {
    font-size: 14px;
    line-height: 16px;
}

.contact .message {
    margin-left: 125px;
    cursor: pointer;
}
.contacts a {
    margin-top: 10px;
    display: inline-block;
    padding: 15px 30px;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #FFF;
    background-color: #000;
    border-radius: 60px;
    transition: all 0.2s;
}

.contacts a:hover {
    background-color: #333;
}
